<section class="login-container" fxLayout='row'>
    <form class='login-form'
        fxLayout='column'
        fxlayouAlign='center center'
        #formRef='ngForm'
        (ngSubmit)='onSubmit(formRef)'>
        <mat-form-field>
            <input
                type='email'
                matInput
                placeholder="Your Email"
                ngModel
                name="email"
                email
                required
                #emailInput="ngModel">
            <mat-error *ngIf="!emailInput.hasError('required')">
                {{'login.emailInvalid' | translate}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                type='password'
                matInput
                placeholder="Your Password"
                ngModel
                name="password"
                required
                minlength="8"
                #pwInput="ngModel">
            <mat-error *ngIf="pwInput.value?.length != 8">
                {{ 'login.passwordlength' | translate }}
            </mat-error>
        </mat-form-field>
        <button
            mat-raised-button
            *ngIf="!isLoading"
            type="Submit"
            [disabled]="formRef.invalid"
            color="primary">
                {{'app.login' | translate}}
        </button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
</section>
